<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.springcloud.dao.StorageDao">
    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Storage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="product_id" jdbcType="BIGINT" property="productId"/>
        <id column="total" property="total" jdbcType="INTEGER"/>
        <id column="used" property="used" jdbcType="INTEGER"/>
        <id column="residue" property="residue" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="create" parameterType="Storage" useGeneratedKeys="true" keyProperty="id">
    insert into t_storage(id,product_id,total,used,residue)
    values(null,#{productId},#{total},#{used},#{residue});
    </insert>

    <update id="update" >
    update t_storage set
    used = used + #{count},residue = residue - #{count}
    where product_id = #{productId}
</update>

</mapper>